html,body{
 height: 100%;
 overflow: auto;
}
body{
  /* background-color: aqua; */
  background-image: linear-gradient(0deg, #FFDEE9 35%, #B5FFFC 100%);
  /* background:linear-gradient(rgba(216, 230, 241, 0.959), rgba(99, 247, 156, 0.795)), url('/images/background.jpg');
   */
} 

.navbar{
  background-color: rgba(231, 218, 211, 0.300);
}

.navbar-brand{
  color: rgb(5, 5, 5);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.navbar-nav > a{
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: 500;
}

.main-login{
  justify-content: center;
}

.login-body{
  background-color: rgba(163, 184, 184, 0.384);
  font-size: 2em;
}
.container{
  color: black;
}
#navbarDropdown{
  color:rgb(0, 0, 0);
  font-size: 1.3rem;
}
.dropdown-menu{
  
  background-color: rgba(163, 163, 163, 0.753);
  
  font-size: 1.3rem;
}
.dropdown-dropdown-item{
  color: red;
}
.navegacion{
  display: flex;
  justify-content: center;
  padding: 3px;
}
.headerTabla{
  display: flex;
  justify-content: space-between;
}
.headerTabla > a{
  color: white;
}
.mainForms{

  justify-content: center;

  
}
.contenido-forms{
  display: flex;
  justify-content: center;
  width: 95%;
}
.contenido-forms > form{
  width: 80%;
}
.contenido-forms > .row{
  display: flex;
}
.formLabels{
  font-size: 1.5rem;
  max-width: 20%;
}
.formApellidos{
  font-size: 1.5rem;
  max-width: 20%;
}
td > .row > .col{
  padding: 3px;
}
.formFecha{
  max-width: 35%;
}
.succ{
  max-width: 15%;
}
.idEdit{
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.btnNuevoC{
  max-width: 8%;
}
.form-check-inline{
  margin-top: auto;
  margin-bottom: auto;
}
.form-check-label{
  font-size: 1.3rem;
}
.form-check-input{
  font-size: 1.3rem;
} 
#mainContenido{
  color: rgb(0, 0, 0);
  margin-left: 50px;
  margin-right: 50px;
}
.mensajeHome{
  color: black;
}
#ventaForm{
  width: 95%;
}


td {
  vertical-align: middle;
    text-align: center;
}
tr.border-bottom td {
  border-bottom: 1pt solid #000000;
}

.card-text{
  color: black;
}